:root {
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 5rem;
  --radius-0: 0rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 2.25rem;
  --radius-xl: 5rem;
  --radius-pill: 50em;
  --radius-circle: 50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  --container-xxl: 1370px;
  margin: 0;
  font-size: var(--body-fs, 1rem);
  font-family: var(--body-ff, "Alte Haas Grotesk");
  background-color: var(--base-darker);
  background-image: var(--gradient-dark);
  color: var(--body-color, #6c757d);
  font-weight: normal;
  line-height: 1.6;
  box-sizing: border-box;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

a,
svg,
img,
.btn,
.button {
  transition: all 0.2s ease-in-out;
}

a:focus,
.btn:focus,
.button:focus {
  text-decoration: none;
  outline: none;
  -o-box-shadow: none;
  box-shadow: none;
}

a:hover {
  color: var(--link-hover, #6c757d);
  text-decoration: none;
}

a,
button {
  color: var(--link-color, #343a40);
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color, #343a40);
  font-family: var(--heading-ff, "Alte Haas Grotesk");
  font-weight: var(--heading-fw, bold);
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: var(--heading-mb, 0.75rem);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--heading-color, #343a40);
}

.h1,
h1 {
  font-size: var(--fs-h1, 3rem);
  line-height: 1.4;
  text-transform: none;
  letter-spacing: 0;
}

.h2,
h2 {
  font-size: var(--fs-h2, 2.25rem);
  line-height: 1.3;
}

.h3,
h3 {
  font-size: var(--fs-h3, 1.875rem);
  text-transform: none;
  letter-spacing: 0;
}

.h4,
h4 {
  font-size: var(--fs-h4, 1.5rem);
}

.h5,
h5 {
  font-size: var(--fs-h5, 1.125rem);
}

.h6,
h6 {
  font-size: var(--fs-h6, 1rem);
  line-height: 1.5;
}

p {
  font-size: var(--body-fs, 1rem);
  font-weight: normal;
  line-height: 1.7;
  color: var(--body-color, #495057);
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: var(--paragraph-mb, 0.75rem);
}

hr {
  border-bottom: 1px solid var(--hr-border-color, #adb5bd);
  border-top: 0 none;
  margin: var(--hr-height, 30px) 0;
  padding: 0;
}

.hr-sm {
  --hr-height: 20px;
}

.hr-lg {
  --hr-height: 40px;
}

.hr-xl {
  --hr-height: 50px;
}

.hr-light {
  --hr-border-color: rgba(255, 255, 255, 0.1);
}

.hr-dark {
  --hr-border-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgba(255, 193, 7, 0.2);
  color: #ffc107;
  text-shadow: none;
}

*::placeholder {
  color: var(--placeholder-color, #6c757d);
  font-size: 80%;
  opacity: 1;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-md);
}

*::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: var(--radius-md);
  background-color: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor, #266C88);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.lh-1 {
  line-height: var(--line-height, calc( 1 / 10));
}

.lh-2 {
  line-height: var(--line-height, calc( 2 / 10));
}

.lh-3 {
  line-height: var(--line-height, calc( 3 / 10));
}

.lh-4 {
  line-height: var(--line-height, calc( 4 / 10));
}

.lh-5 {
  line-height: var(--line-height, calc( 5 / 10));
}

.lh-6 {
  line-height: var(--line-height, calc( 6 / 10));
}

.lh-7 {
  line-height: var(--line-height, calc( 7 / 10));
}

.lh-8 {
  line-height: var(--line-height, calc( 8 / 10));
}

.lh-9 {
  line-height: var(--line-height, calc( 9 / 10));
}

.lh-10 {
  line-height: var(--line-height, calc( 10 / 10));
}

.lh-11 {
  line-height: var(--line-height, calc( 11 / 10));
}

.lh-12 {
  line-height: var(--line-height, calc( 12 / 10));
}

.lh-13 {
  line-height: var(--line-height, calc( 13 / 10));
}

.lh-14 {
  line-height: var(--line-height, calc( 14 / 10));
}

.lh-15 {
  line-height: var(--line-height, calc( 15 / 10));
}

.lh-16 {
  line-height: var(--line-height, calc( 16 / 10));
}

.lh-17 {
  line-height: var(--line-height, calc( 17 / 10));
}

.lh-18 {
  line-height: var(--line-height, calc( 18 / 10));
}

.lh-19 {
  line-height: var(--line-height, calc( 19 / 10));
}

.fs-sm {
  font-size: var(--font-sm-size, var(--fs-sm));
}

.fs-md {
  font-size: var(--font-md-size, var(--fs-md));
}

.fs-lg {
  font-size: var(--font-lg-size, var(--fs-lg));
}

.fs-xl {
  font-size: var(--font-xl-size, var(--fs-xl));
}

.fs-2xl {
  font-size: var(--font-2xl-size, var(--fs-2xl));
}

.fs-3xl {
  font-size: var(--font-3xl-size, var(--fs-3xl));
}

.fs-4xl {
  font-size: var(--font-4xl-size, var(--fs-4xl));
}

.fs-5xl {
  font-size: var(--font-5xl-size, var(--fs-5xl));
}

.fs-6xl {
  font-size: var(--font-6xl-size, var(--fs-6xl));
}

.fw-light {
  font-weight: var(--font-weight, light);
}

.fw-regular {
  font-weight: var(--font-weight, regular);
}

.fw-medium {
  font-weight: var(--font-weight, medium);
}

.fw-bold {
  font-weight: var(--font-weight, bold);
}

.fw-100 {
  font-weight: var(--font-weight, 100);
}

.fw-200 {
  font-weight: var(--font-weight, 200);
}

.fw-300 {
  font-weight: var(--font-weight, 300);
}

.fw-400 {
  font-weight: var(--font-weight, 400);
}

.fw-500 {
  font-weight: var(--font-weight, 500);
}

.fw-600 {
  font-weight: var(--font-weight, 600);
}

.fw-700 {
  font-weight: var(--font-weight, 700);
}

.fw-800 {
  font-weight: var(--font-weight, 800);
}

[data-overlay] {
  position: var(--overlay-att-position, relative);
}

[data-overlay]:before {
  position: var(--overlay-position, absolute);
  content: "";
  background: var(--overlay-bg, #14213D);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--overlay-zIndex, -1);
}

[data-overlay="0"]:before {
  opacity: var(--overlay-opacity, calc(0 / 10));
}

[data-overlay="1"]:before {
  opacity: var(--overlay-opacity, calc(1 / 10));
}

[data-overlay="2"]:before {
  opacity: var(--overlay-opacity, calc(2 / 10));
}

[data-overlay="3"]:before {
  opacity: var(--overlay-opacity, calc(3 / 10));
}

[data-overlay="4"]:before {
  opacity: var(--overlay-opacity, calc(4 / 10));
}

[data-overlay="5"]:before {
  opacity: var(--overlay-opacity, calc(5 / 10));
}

[data-overlay="6"]:before {
  opacity: var(--overlay-opacity, calc(6 / 10));
}

[data-overlay="7"]:before {
  opacity: var(--overlay-opacity, calc(7 / 10));
}

[data-overlay="8"]:before {
  opacity: var(--overlay-opacity, calc(8 / 10));
}

[data-overlay="9"]:before {
  opacity: var(--overlay-opacity, calc(9 / 10));
}

[data-overlay="10"]:before {
  opacity: var(--overlay-opacity, calc(10 / 10));
}

[data-overlay-bg="gradient-primary"]:before {
  --overlay-bg: transparent linear-gradient(240deg, #2D87A2 0%, #14213D 100%) 0% 0% no-repeat padding-box !important;
}

[data-overlay-bg="success"]:before {
  --overlay-bg: #198754 !important;
}

[data-overlay-bg="danger"]:before {
  --overlay-bg: #dc3545 !important;
}

.py-50,
.pt-50 {
  padding-top: var(--padding-top, 50px) !important;
}

.py-50,
.pb-50 {
  padding-bottom: var(--padding-bottom, 50px) !important;
}

.my-50,
.mt-50 {
  margin-top: var(--margin-top, 50px) !important;
}

.my-50,
.mb-50 {
  margin-bottom: var(--margin-bottom, 50px) !important;
}

.py-70,
.pt-70 {
  padding-top: var(--padding-top, 70px) !important;
}

.py-70,
.pb-70 {
  padding-bottom: var(--padding-bottom, 70px) !important;
}

.my-70,
.mt-70 {
  margin-top: var(--margin-top, 70px) !important;
}

.my-70,
.mb-70 {
  margin-bottom: var(--margin-bottom, 70px) !important;
}

.py-100,
.pt-100 {
  padding-top: var(--padding-top, 100px) !important;
}

.py-100,
.pb-100 {
  padding-bottom: var(--padding-bottom, 100px) !important;
}

.my-100,
.mt-100 {
  margin-top: var(--margin-top, 100px) !important;
}

.my-100,
.mb-100 {
  margin-bottom: var(--margin-bottom, 100px) !important;
}

.py-120,
.pt-120 {
  padding-top: var(--padding-top, 120px) !important;
}

.py-120,
.pb-120 {
  padding-bottom: var(--padding-bottom, 120px) !important;
}

.my-120,
.mt-120 {
  margin-top: var(--margin-top, 120px) !important;
}

.my-120,
.mb-120 {
  margin-bottom: var(--margin-bottom, 120px) !important;
}

.py-150,
.pt-150 {
  padding-top: var(--padding-top, 150px) !important;
}

.py-150,
.pb-150 {
  padding-bottom: var(--padding-bottom, 150px) !important;
}

.my-150,
.mt-150 {
  margin-top: var(--margin-top, 150px) !important;
}

.my-150,
.mb-150 {
  margin-bottom: var(--margin-bottom, 150px) !important;
}

@media (min-width: 576px) {
  .py-sm-50,
  .pt-sm-50 {
    padding-top: var(--padding-top, 50px) !important;
  }
  .py-sm-50,
  .pb-sm-50 {
    padding-bottom: var(--padding-bottom, 50px) !important;
  }
  .my-sm-50,
  .mt-sm-50 {
    margin-top: var(--margin-top, 50px) !important;
  }
  .my-sm-50,
  .mb-sm-50 {
    margin-bottom: var(--margin-bottom, 50px) !important;
  }
  .py-sm-70,
  .pt-sm-70 {
    padding-top: var(--padding-top, 70px) !important;
  }
  .py-sm-70,
  .pb-sm-70 {
    padding-bottom: var(--padding-bottom, 70px) !important;
  }
  .my-sm-70,
  .mt-sm-70 {
    margin-top: var(--margin-top, 70px) !important;
  }
  .my-sm-70,
  .mb-sm-70 {
    margin-bottom: var(--margin-bottom, 70px) !important;
  }
  .py-sm-100,
  .pt-sm-100 {
    padding-top: var(--padding-top, 100px) !important;
  }
  .py-sm-100,
  .pb-sm-100 {
    padding-bottom: var(--padding-bottom, 100px) !important;
  }
  .my-sm-100,
  .mt-sm-100 {
    margin-top: var(--margin-top, 100px) !important;
  }
  .my-sm-100,
  .mb-sm-100 {
    margin-bottom: var(--margin-bottom, 100px) !important;
  }
  .py-sm-120,
  .pt-sm-120 {
    padding-top: var(--padding-top, 120px) !important;
  }
  .py-sm-120,
  .pb-sm-120 {
    padding-bottom: var(--padding-bottom, 120px) !important;
  }
  .my-sm-120,
  .mt-sm-120 {
    margin-top: var(--margin-top, 120px) !important;
  }
  .my-sm-120,
  .mb-sm-120 {
    margin-bottom: var(--margin-bottom, 120px) !important;
  }
  .py-sm-150,
  .pt-sm-150 {
    padding-top: var(--padding-top, 150px) !important;
  }
  .py-sm-150,
  .pb-sm-150 {
    padding-bottom: var(--padding-bottom, 150px) !important;
  }
  .my-sm-150,
  .mt-sm-150 {
    margin-top: var(--margin-top, 150px) !important;
  }
  .my-sm-150,
  .mb-sm-150 {
    margin-bottom: var(--margin-bottom, 150px) !important;
  }
}

@media (min-width: 768px) {
  .py-md-50,
  .pt-md-50 {
    padding-top: var(--padding-top, 50px) !important;
  }
  .py-md-50,
  .pb-md-50 {
    padding-bottom: var(--padding-bottom, 50px) !important;
  }
  .my-md-50,
  .mt-md-50 {
    margin-top: var(--margin-top, 50px) !important;
  }
  .my-md-50,
  .mb-md-50 {
    margin-bottom: var(--margin-bottom, 50px) !important;
  }
  .py-md-70,
  .pt-md-70 {
    padding-top: var(--padding-top, 70px) !important;
  }
  .py-md-70,
  .pb-md-70 {
    padding-bottom: var(--padding-bottom, 70px) !important;
  }
  .my-md-70,
  .mt-md-70 {
    margin-top: var(--margin-top, 70px) !important;
  }
  .my-md-70,
  .mb-md-70 {
    margin-bottom: var(--margin-bottom, 70px) !important;
  }
  .py-md-100,
  .pt-md-100 {
    padding-top: var(--padding-top, 100px) !important;
  }
  .py-md-100,
  .pb-md-100 {
    padding-bottom: var(--padding-bottom, 100px) !important;
  }
  .my-md-100,
  .mt-md-100 {
    margin-top: var(--margin-top, 100px) !important;
  }
  .my-md-100,
  .mb-md-100 {
    margin-bottom: var(--margin-bottom, 100px) !important;
  }
  .py-md-120,
  .pt-md-120 {
    padding-top: var(--padding-top, 120px) !important;
  }
  .py-md-120,
  .pb-md-120 {
    padding-bottom: var(--padding-bottom, 120px) !important;
  }
  .my-md-120,
  .mt-md-120 {
    margin-top: var(--margin-top, 120px) !important;
  }
  .my-md-120,
  .mb-md-120 {
    margin-bottom: var(--margin-bottom, 120px) !important;
  }
  .py-md-150,
  .pt-md-150 {
    padding-top: var(--padding-top, 150px) !important;
  }
  .py-md-150,
  .pb-md-150 {
    padding-bottom: var(--padding-bottom, 150px) !important;
  }
  .my-md-150,
  .mt-md-150 {
    margin-top: var(--margin-top, 150px) !important;
  }
  .my-md-150,
  .mb-md-150 {
    margin-bottom: var(--margin-bottom, 150px) !important;
  }
}

@media (min-width: 992px) {
  .py-lg-50,
  .pt-lg-50 {
    padding-top: var(--padding-top, 50px) !important;
  }
  .py-lg-50,
  .pb-lg-50 {
    padding-bottom: var(--padding-bottom, 50px) !important;
  }
  .my-lg-50,
  .mt-lg-50 {
    margin-top: var(--margin-top, 50px) !important;
  }
  .my-lg-50,
  .mb-lg-50 {
    margin-bottom: var(--margin-bottom, 50px) !important;
  }
  .py-lg-70,
  .pt-lg-70 {
    padding-top: var(--padding-top, 70px) !important;
  }
  .py-lg-70,
  .pb-lg-70 {
    padding-bottom: var(--padding-bottom, 70px) !important;
  }
  .my-lg-70,
  .mt-lg-70 {
    margin-top: var(--margin-top, 70px) !important;
  }
  .my-lg-70,
  .mb-lg-70 {
    margin-bottom: var(--margin-bottom, 70px) !important;
  }
  .py-lg-100,
  .pt-lg-100 {
    padding-top: var(--padding-top, 100px) !important;
  }
  .py-lg-100,
  .pb-lg-100 {
    padding-bottom: var(--padding-bottom, 100px) !important;
  }
  .my-lg-100,
  .mt-lg-100 {
    margin-top: var(--margin-top, 100px) !important;
  }
  .my-lg-100,
  .mb-lg-100 {
    margin-bottom: var(--margin-bottom, 100px) !important;
  }
  .py-lg-120,
  .pt-lg-120 {
    padding-top: var(--padding-top, 120px) !important;
  }
  .py-lg-120,
  .pb-lg-120 {
    padding-bottom: var(--padding-bottom, 120px) !important;
  }
  .my-lg-120,
  .mt-lg-120 {
    margin-top: var(--margin-top, 120px) !important;
  }
  .my-lg-120,
  .mb-lg-120 {
    margin-bottom: var(--margin-bottom, 120px) !important;
  }
  .py-lg-150,
  .pt-lg-150 {
    padding-top: var(--padding-top, 150px) !important;
  }
  .py-lg-150,
  .pb-lg-150 {
    padding-bottom: var(--padding-bottom, 150px) !important;
  }
  .my-lg-150,
  .mt-lg-150 {
    margin-top: var(--margin-top, 150px) !important;
  }
  .my-lg-150,
  .mb-lg-150 {
    margin-bottom: var(--margin-bottom, 150px) !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-50,
  .pt-xl-50 {
    padding-top: var(--padding-top, 50px) !important;
  }
  .py-xl-50,
  .pb-xl-50 {
    padding-bottom: var(--padding-bottom, 50px) !important;
  }
  .my-xl-50,
  .mt-xl-50 {
    margin-top: var(--margin-top, 50px) !important;
  }
  .my-xl-50,
  .mb-xl-50 {
    margin-bottom: var(--margin-bottom, 50px) !important;
  }
  .py-xl-70,
  .pt-xl-70 {
    padding-top: var(--padding-top, 70px) !important;
  }
  .py-xl-70,
  .pb-xl-70 {
    padding-bottom: var(--padding-bottom, 70px) !important;
  }
  .my-xl-70,
  .mt-xl-70 {
    margin-top: var(--margin-top, 70px) !important;
  }
  .my-xl-70,
  .mb-xl-70 {
    margin-bottom: var(--margin-bottom, 70px) !important;
  }
  .py-xl-100,
  .pt-xl-100 {
    padding-top: var(--padding-top, 100px) !important;
  }
  .py-xl-100,
  .pb-xl-100 {
    padding-bottom: var(--padding-bottom, 100px) !important;
  }
  .my-xl-100,
  .mt-xl-100 {
    margin-top: var(--margin-top, 100px) !important;
  }
  .my-xl-100,
  .mb-xl-100 {
    margin-bottom: var(--margin-bottom, 100px) !important;
  }
  .py-xl-120,
  .pt-xl-120 {
    padding-top: var(--padding-top, 120px) !important;
  }
  .py-xl-120,
  .pb-xl-120 {
    padding-bottom: var(--padding-bottom, 120px) !important;
  }
  .my-xl-120,
  .mt-xl-120 {
    margin-top: var(--margin-top, 120px) !important;
  }
  .my-xl-120,
  .mb-xl-120 {
    margin-bottom: var(--margin-bottom, 120px) !important;
  }
  .py-xl-150,
  .pt-xl-150 {
    padding-top: var(--padding-top, 150px) !important;
  }
  .py-xl-150,
  .pb-xl-150 {
    padding-bottom: var(--padding-bottom, 150px) !important;
  }
  .my-xl-150,
  .mt-xl-150 {
    margin-top: var(--margin-top, 150px) !important;
  }
  .my-xl-150,
  .mb-xl-150 {
    margin-bottom: var(--margin-bottom, 150px) !important;
  }
}

@media (min-width: 1400px) {
  .py-xxl-50,
  .pt-xxl-50 {
    padding-top: var(--padding-top, 50px) !important;
  }
  .py-xxl-50,
  .pb-xxl-50 {
    padding-bottom: var(--padding-bottom, 50px) !important;
  }
  .my-xxl-50,
  .mt-xxl-50 {
    margin-top: var(--margin-top, 50px) !important;
  }
  .my-xxl-50,
  .mb-xxl-50 {
    margin-bottom: var(--margin-bottom, 50px) !important;
  }
  .py-xxl-70,
  .pt-xxl-70 {
    padding-top: var(--padding-top, 70px) !important;
  }
  .py-xxl-70,
  .pb-xxl-70 {
    padding-bottom: var(--padding-bottom, 70px) !important;
  }
  .my-xxl-70,
  .mt-xxl-70 {
    margin-top: var(--margin-top, 70px) !important;
  }
  .my-xxl-70,
  .mb-xxl-70 {
    margin-bottom: var(--margin-bottom, 70px) !important;
  }
  .py-xxl-100,
  .pt-xxl-100 {
    padding-top: var(--padding-top, 100px) !important;
  }
  .py-xxl-100,
  .pb-xxl-100 {
    padding-bottom: var(--padding-bottom, 100px) !important;
  }
  .my-xxl-100,
  .mt-xxl-100 {
    margin-top: var(--margin-top, 100px) !important;
  }
  .my-xxl-100,
  .mb-xxl-100 {
    margin-bottom: var(--margin-bottom, 100px) !important;
  }
  .py-xxl-120,
  .pt-xxl-120 {
    padding-top: var(--padding-top, 120px) !important;
  }
  .py-xxl-120,
  .pb-xxl-120 {
    padding-bottom: var(--padding-bottom, 120px) !important;
  }
  .my-xxl-120,
  .mt-xxl-120 {
    margin-top: var(--margin-top, 120px) !important;
  }
  .my-xxl-120,
  .mb-xxl-120 {
    margin-bottom: var(--margin-bottom, 120px) !important;
  }
  .py-xxl-150,
  .pt-xxl-150 {
    padding-top: var(--padding-top, 150px) !important;
  }
  .py-xxl-150,
  .pb-xxl-150 {
    padding-bottom: var(--padding-bottom, 150px) !important;
  }
  .my-xxl-150,
  .mt-xxl-150 {
    margin-top: var(--margin-top, 150px) !important;
  }
  .my-xxl-150,
  .mb-xxl-150 {
    margin-bottom: var(--margin-bottom, 150px) !important;
  }
}

.min-vh-50 {
  min-height: var(--min--height, 50vh) !important;
}

.vh-50 {
  height: var(--h--height, 50vh) !important;
}

.min-h-50 {
  min-height: var(--min--height, calc(50 * 1%)) !important;
}

.h-50 {
  height: var(--h--height, calc(50 * 1%)) !important;
}

.min-vh-100 {
  min-height: var(--min--height, 100vh) !important;
}

.vh-100 {
  height: var(--h--height, 100vh) !important;
}

.min-h-100 {
  min-height: var(--min--height, calc(100 * 1%)) !important;
}

.h-100 {
  height: var(--h--height, calc(100 * 1%)) !important;
}

@media (min-width: 576px) {
  .min-vh-sm-50 {
    min-height: var(--min--sm-height, 50vh) !important;
  }
  .vh-sm-50 {
    height: var(--h--sm-height, 50vh) !important;
  }
  .min-h-sm-50 {
    min-height: var(--min--sm-height, calc(50 * 1%)) !important;
  }
  .h-sm-50 {
    height: var(--h--sm-height, calc(50 * 1%)) !important;
  }
  .min-vh-sm-100 {
    min-height: var(--min--sm-height, 100vh) !important;
  }
  .vh-sm-100 {
    height: var(--h--sm-height, 100vh) !important;
  }
  .min-h-sm-100 {
    min-height: var(--min--sm-height, calc(100 * 1%)) !important;
  }
  .h-sm-100 {
    height: var(--h--sm-height, calc(100 * 1%)) !important;
  }
}

@media (min-width: 768px) {
  .min-vh-md-50 {
    min-height: var(--min--md-height, 50vh) !important;
  }
  .vh-md-50 {
    height: var(--h--md-height, 50vh) !important;
  }
  .min-h-md-50 {
    min-height: var(--min--md-height, calc(50 * 1%)) !important;
  }
  .h-md-50 {
    height: var(--h--md-height, calc(50 * 1%)) !important;
  }
  .min-vh-md-100 {
    min-height: var(--min--md-height, 100vh) !important;
  }
  .vh-md-100 {
    height: var(--h--md-height, 100vh) !important;
  }
  .min-h-md-100 {
    min-height: var(--min--md-height, calc(100 * 1%)) !important;
  }
  .h-md-100 {
    height: var(--h--md-height, calc(100 * 1%)) !important;
  }
}

@media (min-width: 992px) {
  .min-vh-lg-50 {
    min-height: var(--min--lg-height, 50vh) !important;
  }
  .vh-lg-50 {
    height: var(--h--lg-height, 50vh) !important;
  }
  .min-h-lg-50 {
    min-height: var(--min--lg-height, calc(50 * 1%)) !important;
  }
  .h-lg-50 {
    height: var(--h--lg-height, calc(50 * 1%)) !important;
  }
  .min-vh-lg-100 {
    min-height: var(--min--lg-height, 100vh) !important;
  }
  .vh-lg-100 {
    height: var(--h--lg-height, 100vh) !important;
  }
  .min-h-lg-100 {
    min-height: var(--min--lg-height, calc(100 * 1%)) !important;
  }
  .h-lg-100 {
    height: var(--h--lg-height, calc(100 * 1%)) !important;
  }
}

@media (min-width: 1200px) {
  .min-vh-xl-50 {
    min-height: var(--min--xl-height, 50vh) !important;
  }
  .vh-xl-50 {
    height: var(--h--xl-height, 50vh) !important;
  }
  .min-h-xl-50 {
    min-height: var(--min--xl-height, calc(50 * 1%)) !important;
  }
  .h-xl-50 {
    height: var(--h--xl-height, calc(50 * 1%)) !important;
  }
  .min-vh-xl-100 {
    min-height: var(--min--xl-height, 100vh) !important;
  }
  .vh-xl-100 {
    height: var(--h--xl-height, 100vh) !important;
  }
  .min-h-xl-100 {
    min-height: var(--min--xl-height, calc(100 * 1%)) !important;
  }
  .h-xl-100 {
    height: var(--h--xl-height, calc(100 * 1%)) !important;
  }
}

@media (min-width: 1400px) {
  .min-vh-xxl-50 {
    min-height: var(--min--xxl-height, 50vh) !important;
  }
  .vh-xxl-50 {
    height: var(--h--xxl-height, 50vh) !important;
  }
  .min-h-xxl-50 {
    min-height: var(--min--xxl-height, calc(50 * 1%)) !important;
  }
  .h-xxl-50 {
    height: var(--h--xxl-height, calc(50 * 1%)) !important;
  }
  .min-vh-xxl-100 {
    min-height: var(--min--xxl-height, 100vh) !important;
  }
  .vh-xxl-100 {
    height: var(--h--xxl-height, 100vh) !important;
  }
  .min-h-xxl-100 {
    min-height: var(--min--xxl-height, calc(100 * 1%)) !important;
  }
  .h-xxl-100 {
    height: var(--h--xxl-height, calc(100 * 1%)) !important;
  }
}

label {
  font-weight: var(--label-font-weight, 600);
  margin-bottom: var(--label-mb, 0.5rem);
  color: var(--label-color, #495057);
}

.label-light {
  --label-color: #f8f9fa;
}

.label-dark {
  --label-color: #14213D;
}

.form-control {
  border-radius: var(--border-radius, 0rem);
}

.main-wrapper {
  overflow: hidden;
}

.btn {
  border-radius: var(--btn-radius, 0rem);
}

.btn-primary {
  background-color: #266C88;
  border-color: #266C88;
  color: #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #1f5970;
  border-color: #1f5970;
  color: #fff;
}

.btn-primary:active:focus {
  box-shadow: none;
}

.btn-success {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: #146d44;
  border-color: #146d44;
  color: #fff;
}

.btn-success:active:focus {
  box-shadow: none;
}

.title-6xl {
  font-size: var(--title-6xl-size, 3rem);
}

@media (min-width: 1400px) {
  .title-6xl {
    --title-6xl-size: 4.5rem;
  }
}

.bg {
  background-position: var(--bg-position, center);
  background-size: var(--bg-size, cover);
}

.bg-gradient-primary {
  background: var(--bg-color, transparent linear-gradient(240deg, #2D87A2 0%, #14213D 100%) 0% 0% no-repeat padding-box) !important;
}

.bg-primary {
  background: var(--bg-color, #266C88) !important;
}

.bg-primary-light {
  background: var(--bg-color, #2D87A2) !important;
}

.bg-primary-a5 {
  background: var(--bg-color, rgba(38, 108, 136, 0.1)) !important;
}

.bg-primary-a10 {
  background: var(--bg-color, rgba(38, 108, 136, 0.2)) !important;
}

.bg-light {
  background: var(--bg-color, #f8f9fa) !important;
}

.bg-danger {
  background: var(--bg-color, #dc3545) !important;
}

.bg-danger-a5 {
  background: var(--bg-color, rgba(220, 53, 69, 0.1)) !important;
}

.bg-danger-a10 {
  background: var(--bg-color, rgba(220, 53, 69, 0.2)) !important;
}

.bg-warning {
  background: var(--bg-color, #ffc107) !important;
}

.bg-warning-a5 {
  background: var(--bg-color, rgba(255, 193, 7, 0.1)) !important;
}

.bg-warning-a10 {
  background: var(--bg-color, rgba(255, 193, 7, 0.2)) !important;
}

.bg-success {
  background: var(--bg-color, #198754) !important;
}

.bg-success-a5 {
  background: var(--bg-color, rgba(25, 135, 84, 0.1)) !important;
}

.bg-success-a10 {
  background: var(--bg-color, rgba(25, 135, 84, 0.2)) !important;
}

.text-primary {
  color: var(--text-color, #266C88) !important;
}

.text-primary-light {
  color: var(--text-color, #2D87A2) !important;
}

.text-inverted {
  color: var(--text-color, #fff) !important;
}

.text-light {
  color: var(--text-color, #f8f9fa) !important;
}

.text-muted {
  color: var(--text-color, #adb5bd) !important;
}

.text-danger {
  color: var(--text-color, #dc3545) !important;
}

.text-warning {
  color: var(--text-color, #ffc107) !important;
}

.text-success {
  color: var(--text-color, #198754) !important;
}

.page-coming-soon:before {
  mix-blend-mode: multiply;
}

.page-coming-soon .page-dotted {
  position: var(--page-dotted-position, absolute);
  right: var(--page-dotted-right, 10%);
  bottom: var(--page-dotted-bottom, -18%);
  opacity: var(--page-dotted-opacity, 1);
  mix-blend-mode: screen;
  max-width: var(--page-dotted-max-width, 850px);
}

@media (min-width: 1400px) {
  .page-coming-soon .page-dotted {
    --page-dotted-right: 20%;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .page-coming-soon .page-dotted {
    --page-dotted-right: 14%;
  }
}

@media (max-width: 1199.98px) {
  .page-coming-soon .page-dotted {
    --page-dotted-bottom: auto;
    --page-dotted-right: auto;
    --page-dotted-max-width: 530px;
    top: -18%;
    left: 9%;
  }
}

@media (max-width: 1199.98px) {
  .coming-soon-img img {
    max-width: 130px;
  }
}
/*# sourceMappingURL=main.css.map */